<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>servletmvc_20180328</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>test001</servlet-name>
		<servlet-class>com.test.ControllerServlet001</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test001</servlet-name>
		<url-pattern>/test001</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>test002</servlet-name>
		<servlet-class>com.test.ControllerServlet002</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test002</servlet-name>
		<url-pattern>/test002</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>test003</servlet-name>
		<servlet-class>com.test.ControllerServlet003</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test003</servlet-name>
		<url-pattern>/test003</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>test004</servlet-name>
		<servlet-class>com.test.ControllerServlet004</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test004</servlet-name>
		<url-pattern>/test004</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>test005</servlet-name>
		<servlet-class>com.test.ControllerServlet005</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test005</servlet-name>
		<url-pattern>/hello.do</url-pattern>
		<url-pattern>/test.do</url-pattern>
		<url-pattern>/sample.do</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>ControllerUsingURI</servlet-name>
		<servlet-class>com.test.ControllerServlet006</servlet-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>
                /WEB-INF/commandHandlerURI.properties
            </param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>ControllerUsingURI</servlet-name>
		<url-pattern>*.it</url-pattern>
	</servlet-mapping>


</web-app>